<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--To process a specific day, it is possible to specify here the date.-->
    <!--If a date is specified the KEY "DaysBack" will be ignored.-->
    <!--If no day is specified the current day will be processed.-->
    <add key="SpecificDateYear" value="2023"/>
    <add key="SpecificDateMonth" value="01"/>
    <add key="SpecificDateDay" value="12"/>
    <!--Specifies how many days back from the current day the processing should goes.-->
    <add key="DaysBack" value="0"/>
    <!--Specifies if the processed data (ArchivPathTPPXX;ShopPathTPPXX;NPRPathTPPXX) should be deleted if the processing finished successfully.-->
    <add key="DeleteIfOK" value="false"/>
    <!--Defines the rinex archiv path on DataShare.-->
    <add key="DataShareArchivePath" value="..\..\testdata\base_set\output_RinexArchive\"/>
    <!--Defines the rinex shop path on DataShare.-->
    <add key="DataShareShopPath" value="..\..\testdata\base_set\output_shop_temp\"/>
    <!--Defines the NPR path on DataShare.-->
    <add key="DataShareNPRPath" value="..\..\testdata\base_set\out_NPR\"/>
    <!--Defines the rinex archiv path from TPP01.-->
    <add key="ArchivPathTPP01" value="..\..\testdata\base_set\input_temp\ArchiveTPP01\"/>
    <!--Defines the rinex archiv path from TPP02.-->
    <add key="ArchivPathTPP02" value="..\..\testdata\base_set\input_temp\ArchiveTPP02\"/>
    <!--Defines the shop path from TPP01.-->
    <add key="ShopPathTPP01" value="..\..\testdata\base_set\input_temp\ShopTPP01\"/>
    <!--Defines the shop path from TPP02.-->
    <add key="ShopPathTPP02" value="..\..\testdata\base_set\input_temp\ShopTPP02\"/>
    <!--Defines the NPR path from TPP01.-->
    <add key="NPRPathTPP01" value="..\..\testdata\base_set\input_npr\1\"/>
    <!--Defines the NPR path from TPP02.-->
    <add key="NPRPathTPP02" value="..\..\testdata\base_set\input_npr\2\"/>
    <!--Defines the logging path-->
    <add key="LogPath" value="log"/>
    <!--Defines the logfile name-->
    <add key="LogFile" value="RinexSynchronizer.log"/>
    <!--Wether to check the logpath from previous processes or not-->
    <add key="CheckPreviousLogs" value="false"/>
    <!--Defines the logging path from RinexMetaDataController to check-->
    <add key="LogPathToCheck" value="log"/>
    <!--Defines the logfile names from RinexMetaDataController to check.-->
    <add key="LogFilesToCheck" value="RinexMetaDataControllerDAFITPP01.log,RinexMetaDataControllerDAFITPP02.log,RinexMetaDataControllerNoShopTPP01.log,RinexMetaDataControllerNoShopTPP02.log,RinexMetaDataControllerShopTPP01.log,RinexMetaDataControllerShopTPP02.log"/>
    <!--Defines the database path-->
    <add key="DBPath" value="..\..\testdata\base_set\input_RinexMetaDataDB\"/>
    <!--Defines the SQLite database name-->
    <add key="DBFile" value="RinexMetaDataDB.db"/>
    <!--Defines how often in seconds the logwriter should write the messages into the logfile.-->
    <add key="FlushAtAge" value="1"/>
    <!--Defines from how many elements in the Queue these should be written to the logfile.-->
    <add key="FlushAtQty" value="1"/>
    <!--Defines if the Warningmessages should be logged in the logfile.-->
    <add key="ShowWarning" value="true"/>
  </appSettings>
</configuration>
