<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--To process a specific day, it is possible to specify here the date.-->
    <!--If a date is specified the KEY "DaysBack" will be ignored.-->
    <!--If no day is specified the current day will be processed.-->
    <add key="SpecificDateYear" value=""/>
    <add key="SpecificDateMonth" value=""/>
    <add key="SpecificDateDay" value=""/>
    <!--Specifies how many days back from the current day the processing should goes.-->
    <add key="DaysBack" value="5"/>
    <!--Specifies if the processed data (ArchivPathTPPXX;ShopPathTPPXX;NPRPathTPPXX) should be deleted if the processing finished successfully.-->
    <add key="DeleteIfOK" value="false"/>
    <!--Defines the rinex archiv path on DataShare.-->
    <add key="DataShareArchivePath" value="C:\Temp_lju\DataShare\RinexArchive"/>
    <!--Defines the rinex shop path on DataShare.-->
    <add key="DataShareShopPath" value="C:\Temp_lju\DataShare\RinexShop"/>
    <!--Defines the NPR path on DataShare.-->
    <add key="DataShareNPRPath" value="C:\temp\"/>
    <!--Defines the rinex archiv path from TPP01.-->
    <add key="ArchivPathTPP01" value="C:\temp\ArchivTPP01"/>
    <!--Defines the rinex archiv path from TPP02.-->
    <add key="ArchivPathTPP02" value="C:\temp\ArchivTPP02"/>
    <!--Defines the shop path from TPP01.-->
    <add key="ShopPathTPP01" value="C:\temp\ShopTPP01\"/>
    <!--Defines the shop path from TPP02.-->
    <add key="ShopPathTPP02" value="C:\temp\ShopTPP02\"/>
    <!--Defines the NPR path from TPP01.-->
    <add key="NPRPathTPP01" value="C:\temp\TPP01\"/>
    <!--Defines the NPR path from TPP02.-->
    <add key="NPRPathTPP02" value="C:\temp\TPP02\"/>
    <!--Defines the logging path-->
    <add key="LogPath" value="log"/>
    <!--Defines the logfile name-->
    <add key="LogFile" value="RinexSynchronizer.log"/>
    <!--Defines the logging path from RinexMetaDataController to check-->
    <add key="LogPathToCheck" value="log"/>
    <!--Defines the logfile names from RinexMetaDataController to check.-->
    <add key="LogFilesToCheck" value="RinexMetaDataControllerDAFITPP01.log,RinexMetaDataControllerDAFITPP02.log,RinexMetaDataControllerNoShopTPP01.log,RinexMetaDataControllerNoShopTPP02.log,RinexMetaDataControllerShopTPP01.log,RinexMetaDataControllerShopTPP02.log"/>
    <!--Defines the database path-->
    <add key="DBPath" value="."/>
    <!--Defines the SQLite database name-->
    <add key="DBFile" value="RinexMetaDataDB.db"/>
    <!--Defines how often in seconds the logwriter should write the messages into the logfile.-->
    <add key="FlushAtAge" value="2"/>
    <!--Defines from how many elements in the Queue these should be written to the logfile.-->
    <add key="FlushAtQty" value="10"/>
    <!--Defines if the Warningmessages should be logged in the logfile.-->
    <add key="ShowWarning" value="true"/>
  </appSettings>
</configuration>
